* {box-sizing: border-box}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-size:  100vw 43.75vh;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: 'Open-Sans', sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  color: white;
}

main {
  width: 100vw;
  text-align: center;
  height: 77.5vh;
}

header {
  height: 7.375vh;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3vh;
  margin-right: auto;
  text-align: center;
}

p {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  line-height: 1.5;
}

footer {
  margin-top: 10vh;
  width: 100vw;
}

#logo {
  margin-top: 4.125vh;
  margin-left: 9.5vw;
  text-align: left;
  width: 34.0736vw;
  height: 4.625vh;
}

#mockups {
  margin-top: 7.5vh;
  margin-left: 11.5vw;
  width: 79vw;
  height: 23.875vh;
}

#mockups img {
  width: 79vw;
  height: 24.375vh;
}

#info {
  margin: 11vh auto 0vh auto;
  height: 64.50vh;
}

.icon{
  width: 7.46vw;
  height: 3.375vh;
}

#icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 28.8vw;
  height: 3.75vh;
}

#register {
  background-color: white;
  border-radius: 3.125rem 3.125rem 3.125rem 3.125rem;
  margin: 5vh auto 0vw auto;
  font-size: 1.0625rem;
  color: hsl(257, 40%, 49%);
  text-align: center;
  width: 50.93vw;
  height: 5.125vh;
}

@media only screen and (min-width: 376px){
  body{
    background-image: url(../images/bg-desktop.svg);
    background-size: 92vw 100vh;
  }

  main {
    height: 69vh;

    display: flex;
    flex-direction: row;
  }

  header {
    height: 18.75vh;
  }

  footer{
    margin: 0;
    height: 12.25vh;
  }

  h2 {
    font-size: 5.25vh;
    text-align: left;
  }

  .icon {
    width: 2.5vw;
    height: 5vh;
  }

  #logo {
    margin: 7.625vh 0 0 6vw;
    width: 12vw;
    height: 6.375vh;
  }

  #mockups {
    margin: 5vh 0 0 6vw;
    width: 48vw;
    height: 63vh;
  }

  #mockups img{
    width: 48vw;
    height: 63vh;
  }

  #info {
    margin: 5vh 0 0 3.61vw;
    width: 35.76vw;
    height: 63vh;
  }

  #info p{

    text-align: left;
    width: 35.76vw;
  }

  #icons {
    margin: 0 6vw 0 auto;
    width: 10.27vw;
    height: 5.375vh;
  }

  #register {
    margin: 0;
    width: 13.19vw;
    height: 7vh;
  }

}